html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
section{
  width:100%;
  height:95vh;
  position: relative;
}
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:60px;
  background-color:#FFFFFF;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  padding:0px 5%;
}
nav ul{
  display:flex;
  }
nav ul li a{
  margin:30px;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
  font-weight:700;
}
nav a:hover{
  color: gray;
}
.nav-logo{
  width: 100px;
  height: auto;
  position: absolute;
  left: 1% !important;
  top: -5px !important;
}
.logo{
  font-family: Gill Sans bold;
  color: #000000;
  font-size: 22px;
}
.active{
  font-weight: bold;
  color: #2d2a2a;
}
.text-container p:nth-child(1){
  font-family: Gill Sans;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
}
.text-container h1{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
}
.text-container p:nth-child(3){
  font-family: Gill Sans;
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}
.text-container p:nth-child(4){
  font-family: Gill Sans;
  color: #403e3e;
  font-size: 20px;
  line-height: 30px;
}
.text-container p{
  line-height: 0px;
  margin: 45px 0px 25px;
}
.text-container{
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-5%,-42%);
}
.quote-container{
  position: absolute;
  left: 50%;
  top: 40%;
}
.quote-container p {
  font-family: Gill Sans;
  color: #6d6d6d;
  font-size: 22px
}
.text-container button{
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-family: gill sans;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  margin: 0px 10px;
}
.projects-view-btn{
  border:2px solid #373636;
  color:#373636;
  background-color:#f6f5f5;
}
.down-resume-btn{
  background-color:#0b0b0b;
  color:#ffffff;
  border:none;
}
button:hover{
  transform:scale(1.1);
}
.about-work-container{
  width:80%;
  height:auto;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: -10% auto 50px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.about-logo{
  width:400px;
  height:auto;
}
.about-work-text {
  width: 550px;
}
.about-work-text {
  color: #403e3e;
  font-family: gill sans;
  font-size: 18px;
}
.works-preview {
  height:27vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw;
  padding-right: 10vw;
}
.works-preview img{
  float: right;
  width: 30vw;
}
.works-name{
  float: left;
  width: 30vw;
  position: relative;
}
.works-text h2{
  font-family: gill sans;
  font-weight: bold;
  color:#3e3e3d;
  font-size: 30px;
  line-height:0px;
}
.works-text p{
  font-family: gill sans;
  font-size: 18px;
  color:#3e3e3d;
}
.works-text {
  width: 500px;
  top: 22%;
  position: relative;
  float: left;
}
.works-container img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.works-image-container{
  float: right;
  width: 30vw;
}
.project-container{
  margin-top: 20vw;
  height: auto;
  padding: 60px;
  position: relative;
  width: 70vw;
  background-color: #FFFFFF;
  overflow: hidden;
  margin: 5vw auto;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
}
.works-container h2{
  font-family: gill sans;
  font-size: 30px;
  font-weight: bold;
}
.works-container p{
  font-family: gill sans;
  font-size: 18px;
  color: #1a1a1a;;
}
.works-container{
  position: relative;
  height: auto !important;
}
.learn-more p{
  font-family: gill sans;
  font-size: 16px;
  color:#7e7e7d;
}
.card-hover:hover{
  transform: scale(1.5%);
  box-shadow: 6px 6px 20px rgba(0,0,0,0.3);
}
#project-header{
  height: 5vh;
  width: 100%;
}
#project-header h2{
  font-family: gill sans;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
footer{
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0vw;
  width: 100vw;
  margin-top: 40vh;
  background-color: black;
}
footer p{
  font-family: gill sans;
  color: #ffffff;
  text-align: center;
}
.social-icons a{
  flex-direction: row;
  margin: 20px 10px;
  font-family: gill sans;
  color: #ffffff;
}
.social-icons {
  display: flex;
  width: 16vw;
}
.copyright{
  font-family: gill sans;
  color: #ffffff;
  font-size: 15px;
  width: 30vw;
}
.contact-me{
  width: 30vw;
  margin-left: -8vw;
}

.right {
  float: right;
}
.left {
  float: left;
}

/* About me */
.image-container img{
  width: 30vw;
  height: auto;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.image-container{
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translate(-5%,-42%);
}
.about-container{
  width: 54vw;
  margin-top: 2vh;
  margin-right: 3vw;
  padding-bottom: 5vh;
}
.about-container h1{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 30px;
}
.about-container p{
  font-family: gill sans;
  font-size: 18px;
  color: #1a1a1a;
}
.skills-section h2{
  font-family: gill sans;
  font-weight: bold;
  color:#3e3e3d;
  font-size: 20px;
  line-height:0px;
}
.skills-section {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.skills {
  margin-left: 25vw;
}
.skills ul{
  margin-left: -3vw;
  list-style-type: disc;
}
.achievements{
  margin-right: 25vw;
}
.achievements ul{
  margin-left:-3vw;
  list-style-type: disc;
}
.skills-section ul li{
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
/* Student Abroad (project 1) */
.project-intro {
  width: 100vw;
  height: auto;
  padding-top: 5vh;
  text-align: center;
}
.project-intro-background {
  background-color: #ffffff;
  padding-bottom: 5vh;
}
.project-intro h1{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 30px;
}
.project-intro h2 {
  font-family: gill sans;
  font-weight: normal;
  color:#3e3e3d;
  font-size: 18px;
  line-height:0px;
  padding-bottom: 5vh;
}
.project-image-container img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-image-container {
  padding-top: 5vh;
}

table {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th, td {
  text-align: center;
  width: 300px;
}
.project-premise {
  margin-top: 10vh;
}
.project-premise h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
}
.project-premise p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 10vw;
}
.project-premise-content {
  float: left;
  width: 50vw;
  height: auto;
  margin-left: 5vw;
}
.project-premise-image-container img{
  width: 50%;
  height: auto;
  margin-right: -10vw;
}
.project-premise-image-container {
  float: right;
}
.project-premise-image-container p{
  margin-right: 5vw;
  font-size: 12px;
  margin-left: 0;
}
.team {
  background-color: #ffffff;
  height: auto;
  width: 100vw;
  margin-top: 70vh;
  padding-bottom: 5vh;
}
.team h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
}
table img{
  width: 60%;
}
.team-member-name {
  font-weight: bold !important;
}
.team td{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
}
.research h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.research p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.research-image-container img{
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10vh;
}
.research-image-container p{
  font-size: 12px;
  margin-left: 30vw;
}
.research-image-container {
  margin-bottom: 5vh;
}
.research-image-container-2 {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.research-image-container-2 img{
  width: 30%;
  height: auto;
  margin-left: 15vw;
  margin-right: -5vw;
}
.modeling {
  display: block;
  background-color: #ffffff;
  height: 77vh;
}
.modeling h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.modeling p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.modeling h3{
  font-family: Gill Sans;
  font-weight: normal;
  color: #1a1a1a;
  font-size: 18px;
}
.modeling ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.modeling li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 20px;
}
.modeling-content-container {
  float: left;
  height: auto;
  width: 30vw;
  margin-left: 16vw;
}
.modeling-image-container {
  float: right;
  height: auto;
  width: 30vw;
  margin-right: 8vw;
}
.modeling-image-container img{
  width: 85%;
  height: auto;
}
.modeling-image-container p{
  font-size: 12px;
  margin-left: 0vw !important;
  margin-right: 0vw !important;
  float:right;

}
.personas {
display: block;
}
.personas p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.personas h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.persona-column img{
  width: 60%;
  height: auto;
}
.persona-column {
  display: block;
  margin-left: 15vw;
  margin-top: 5vh;
}
.persona-emma{
  width: 30%;
  height: auto;
  display: inline-block;
}
.persona-sienna{
  width: 30%;
  height: auto;
  display: inline-block;
}
.persona-liam{
  width: 30%;
  height: auto;
  display: inline-block;
}
.persona-column h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.persona-column ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
  margin-right: 10vw;
}
.persona-column h4{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.persona-column p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 14px;
  margin-left: 0px !important;
  margin-right: 60px !important;
}
.requirements {
  background-color: #ffffff;
  height: 90vh;
}
.requirements h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.requirements p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.requirements-list {
  float: left;
  width: 30vw;
  margin-left: 20vw;
}
.requirements-image-container {
  float: right;
  width: 30vw;
  margin-right: 10vw;
}
.requirements-image-container img {
  width: 90%;
  height: auto;
  margin-left: 2vw;
}
.requirements ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.requirements li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 20px;
}
.requirements h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.requirements-image-container p{
  font-size: 12px;
  float: right;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.requirements-bottom-text{
  margin-top: 40vh;
  margin-right: 20vw !important;
}
.framework h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.framework p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.framework-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.framework-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.framework-image-container-2 {
  margin-bottom: -1vh;
  margin-top: 5vh;
}
.framework-image-container-2 img{
  width: 35%;
  height: auto;
  margin-left: 8vw;
  margin-right: 5vw;
  display: inline-block;
}
.framework-caption p{
  font-size: 12px;
  margin-left: 8vw;
  margin-bottom: 5vh;
}
.framework-image-container p{
  font-size: 12px;
  margin-left: 25vw;
}
.refinements {
  background-color: #ffffff;
}
.refinements h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.refinements p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.refinements-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.refinements-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: -1vh;
  padding-bottom: 5vh;
}
.user-testing h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 5vh;
}
.user-testing p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.user-testing-image-container img{
  width: 35%;
  height: auto;
  margin-left: 8vw;
  margin-right: 5vw;
  display: inline-block;
}
.user-testing-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.user-testing-image-container-2 {
  margin-bottom: 4vh;
  margin-top: 5vh;
}
.user-testing-image-container-2 img{
  width: 35%;
  height: auto;
  margin-left: 33vw;
}
.user-testing-image-container p{
  font-size: 12px;
  margin-left: 8vw !important;
}
.user-testing-image-container-2 p{
  font-size: 12px;
  margin-left: 33vw !important;
}
.final-design {
  background-color: #ffffff;
}
.final-design h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.final-design p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.final-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 5vh;
  padding-top: 3vh;
}
.final-caption p{
  margin-left: 25vw;
  font-size: 12px;
  font-family: gill sans;
  margin-top: -3vh;
  padding-bottom: 4vh;
}
.takeaway h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.takeaway p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.takeaway-image-container{
    margin-left: 40vw;
  }
.takeaway-image-container img{
    width: 35%;
    height: auto;
}
.takeaway-caption{
  margin-left: 40vw;
  font-size: 14px;
  font-family: gill sans;
}
footer{
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0vw;
  width: 100vw;
  margin-top: 40vh;
  background-color: black;
}
footer p{
  font-family: gill sans;
  color: #ffffff;
  text-align: center;
}
/* TatWho*/
.tatwho-premise {
  margin-top: 6vh;
}
.tatwho-premise h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
}
.tatwho-premise p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
}
.tatwho-premise-content {
   bottom: 15vh;
   background-color: black;
   padding-left: 20px;
   padding-right: 20px;
   position: absolute;
   margin-left: 3vw;
   margin-right: 3vw;
}
.tatwho-premise-image-container{
  width: 50%;
  position: relative;
  margin: 0 auto;
}
.tatwho-premise-image-container img{
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.tatwho-team td{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
}
.tatwho-team {
  background-color: #ffffff;
  height: auto;
  width: 100vw;
  margin-top: 10vh;
  padding-bottom: 5vh;
}
.tatwho-team h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
}
.team-member-name {
  font-weight: bold !important;
}
.team td{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
}
.tatwho-sprint-1{
  margin-bottom: 12vh;
}
.tatwho-sprint-1 h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.tatwho-sprint-1 h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 20px;
  text-align: center;
  margin-top: 8vh;
}
.tatwho-sprint-1 p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.tatwho-sprint-1-image-container p{
  font-size: 12px;
  margin-left: 30vw;
}
.sprint-1-objective-container ul{
    list-style-type: disc;
    font-family:Gill Sans;
    color:#505050;
    font-size:15px;
  }
.sprint-1-objective-container li{
    font-family:Gill Sans;
    color:#505050;
    font-size:18px;
    line-height: 20px;
  }
.sprint-1-objective-container{
  margin-left: 25vw;
  margin-top: 8vh;
  width: 50vw;
}
.product-statement-text{
  background-color: black;
  margin-right: 15vw !important;
  margin-left: 12vw !important;
  border-radius: 5px;
}
.product-statement-text p{
  color: #ffffff;
  margin-left: 8vw !important;
  width: 80%;
  padding-top: 3vh;
  padding-bottom: 5vh;
}
.tatwho-assumptions {
  background-color: #ffffff;
  padding-bottom: 5vh;
}
.tatwho-assumptions h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.assumptions-image-container img{
    margin-left: 9vw;
    margin-right: 5vw;
    display: inline-block;
}
.tatwho-assumptions p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.assumptions-image-container p{
  font-size: 12px;
}
.product-backlog-text p {
  margin-top: 30px;
}
.proto-persona-column img{
  width: 60%;
  height: auto;
}
.proto-persona-column {
  display: block;
  width: 100vw;
  height: auto;
  margin-left: 25vw;
  margin-top: 5vh;
}
.persona-jenn{
  width: 30%;
  height: auto;
  display: inline-block;
}
.persona-cody{
  width: 30%;
  height: auto;
  display: inline-block;
}
.proto-persona-column h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
  margin-right: 20vw;
}
.proto-persona-column ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
  margin-right: 10vw;
}
.proto-persona-column h4{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.proto-persona-column p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 14px;
  margin-left: 0px !important;
  margin-right: 60px !important;
}
.hypothesis-statement{
  margin-top: 8vh;
  margin-left: 5vw !important;
}
.hypothesis-statement p{
  margin-bottom: 7vh;
}
.low-fidelity {
  background-color: #ffffff;
  height: 165vh;
}
.low-fidelity h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.low-fidelity p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.low-fidelity-list {
  float: left;
  width: 30vw;
  margin-left: 20vw;
  margin-top: 5vh;
}
.low-fidelity-image-container {
  float: right;
  width: 30vw;
  margin-right: 10vw;
}
.low-fidelity-image-container img {
  width: 80%;
  height: auto;
  margin-left: 2vw;
  margin-top: 8vh;
}
.low-fidelity ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.low-fidelity li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 20px;
}
.low-fidelity h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.low-fidelity-image-container p{
  font-size: 12px;
  float: right;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.low-fidelity-bottom-text{
  margin-top: 30vh;
  margin-right: 25vw !important;
}
.low-fidelity-image-container-2 {
  margin-bottom: -1vh;
  margin-top: 5vh;
}
.low-fidelity-image-container-2 img{
  width: 35%;
  height: auto;
  margin-left: 12vw;
  margin-right: 4vw;
  display: inline-block;
}
.low-fidelity-caption p{
  font-size: 12px;
  margin-left: 12vw;
  margin-bottom: 5vh;
}
.tatwho-user-testing-round-1{
  margin-bottom: 12vh;
}
.tatwho-user-testing-round-1 h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.tatwho-user-testing-round-1 h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 20px;
  text-align: center;
  margin-top: 8vh;
}
.tatwho-user-testing-round-1 p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 20vw;
  margin-right: 15vw;
}
.user-testing-round-1-image-container {
  margin-bottom: -1vh;
  margin-top: 5vh;
}
.user-testing-round-1-image-container img{
  width: auto;
  height: 399px;
  margin-left: 14vw;
  margin-right: 0vw;
  display: inline-block;
}
.user-testing-round-1-caption p{
  font-size: 12px;
  margin-left: 14vw;
  margin-bottom: 5vh;
}
.finding-artist h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.finding-artist p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.artist-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.artist-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.artist-caption p{
  font-size: 12px;
  margin-left: 25vw;
  margin-bottom: 5vh;
}
.medium-fidelity {
  background-color: #ffffff;
}
.medium-fidelity h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.medium-fidelity p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.medium-fidelity-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.medium-fidelity-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.user-testing-round-2-image-container img{
  width: 300px;
  height: auto;
  margin-left: 18vw;
  display: inline-block;
}
.user-testing-round-2-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.user-testing-round-2-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.tatwho-sprint-2{
  background-color: black;
}
.tatwho-sprint-2 h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.tatwho-sprint-2 h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 8vh;
}
.tatwho-sprint-2 p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.sprint-2-objective-container ul{
    list-style-type: disc;
    font-family:Gill Sans;
    color:#ffffff;
    font-size:15px;
  }
.sprint-2-objective-container li{
    font-family:Gill Sans;
    color:#ffffff;
    font-size:18px;
    line-height: 20px;
  }
.sprint-2-objective-container{
  margin-left: 20vw;
  margin-top: 8vh;
  width: 50vw;
  padding-bottom: 5vh;
}
.medium-fidelity-2 {
  background-color: #ffffff;
}
.medium-fidelity-2 h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.medium-fidelity-2 p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.medium-fidelity-2-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.medium-fidelity-2-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.user-testing-round-3-image-container img{
  width: auto;
  height: 450px;
  margin-left: 22vw;
  display: inline-block;
}
.user-testing-round-3-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.user-testing-round-3-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.final-testing {
  background-color: #ffffff;
  height: 190vh;
}
.final-testing h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.final-testing p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.final-testing-list {
  float: left;
  width: 30vw;
  margin-left: 20vw;
  margin-top: 5vh;
}
.final-testing-image-container{
  float: right;
  width: 30vw;
  height: auto;
  margin-right: 10vw;
}
.final-testing-image-container img{
  width: 50%;
  height: auto;
  margin-left: 2vw;
  margin-top: 8vh;
}
.final-testing ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.final-testing li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 20px;
}
.final-testing h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.final-testing-image-container p{
  font-size: 12px;
  float: right;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.final-testing-bottom-text{
  margin-top: 20vh;
  margin-right: 35vw !important;
  margin-left: 5vw;
}
.final-testing-image-container-2 {
  margin-bottom: -1vh;
  margin-top: 5vh;
}
.final-testing-image-container-2 img{
  width: 20%;
  height: auto;
  margin-left: 20vw;
  margin-right: 0vw;
  display: inline-block;
}
.final-testing-caption p{
  font-size: 12px;
  margin-left: 20vw;
  margin-bottom: 5vh;
}
.final-testing-caption-2 p{
  font-size: 12px;
  margin-right: 12vw !important;
  margin-top: -10vh;
}
.tatwho-takeaway{
  margin-bottom: -20vh;
}
.tatwho-takeaway h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.tatwho-takeaway h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 20px;
  text-align: center;
  margin-top: 8vh;
}
.tatwho-takeaway p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.tatwho-takeaway p:nth-child(3){
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*MUSE*/
.muse-premise h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
}
.muse-premise p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 10vw;
}
.muse-premise-content {
  float: left;
  width: 50vw;
  height: auto;
  margin-left: 5vw;
}
.muse-premise-image-container img{
  width: 50%;
  height: auto;
  margin-right: -10vw;
}
.muse-premise-image-container {
  float: right;
}
.muse-premise-image-container p{
  margin-right: 5vw;
  font-size: 12px;
  margin-left: 0;
}
.muse-team {
  background-color: #ffffff;
  height: auto;
  width: 100vw;
  margin-top: 50vh;
  padding-bottom: 5vh;
}
.muse-team h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
}
.team-member-name {
  font-weight: bold !important;
}
.muse-team td{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
}
.muse-research h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.muse-research p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.muse-research-image-container img{
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10vh;
}
.muse-research-image-container p{
  font-size: 12px;
  margin-left: 30vw;
}
.muse-research-image-container {
  margin-bottom: 5vh;
}
.muse-research-image-container-2 {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.muse-research-image-container-2 img{
  width: 40%;
  height: auto;
  margin-left: 8vw;
  margin-right: -5vw;
}
.muse-requirements {
  background-color: #ffffff;
  height: 90vh;
}
.muse-requirements h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.muse-requirements p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.muse-requirements-list {
  float: left;
  width: 30vw;
  margin-left: 20vw;
}
.muse-requirements-image-container {
  float: right;
  width: 30vw;
  margin-right: 10vw;
}
.muse-requirements-image-container img {
  width: 95%;
  height: auto;
  margin-left: 2vw;
}
.muse-requirements ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.muse-requirements li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 20px;
}
.muse-requirements h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.muse-requirements-image-container p{
  font-size: 12px;
  float: right;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.muse-requirements-bottom-text{
  margin-top: 40vh;
  margin-right: 46vw !important;
}
.muse-framework h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.muse-framework p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.muse-framework-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.muse-framework-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.muse-framework-image-container-2 {
  margin-bottom: -1vh;
  margin-top: 5vh;
}
.muse-framework-image-container-2 img{
  width: 35%;
  height: auto;
  margin-left: 12vw;
  margin-right: 3vw;
  display: inline-block;
}
.muse-framework-caption p{
  font-size: 12px;
  margin-left: 12vw;
  margin-bottom: 5vh;
}
.muse-framework-image-container p{
  font-size: 12px;
  margin-left: 25vw;
}
.medium-fidelity {
  background-color: #ffffff;
}
.medium-fidelity h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.medium-fidelity p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.medium-fidelity-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.medium-fidelity-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.muse-medium-fidelity-image-container img{
  width: 50%;
  height: auto;
  margin-left: 25vw;
  display: inline-block;
}
.muse-medium-fidelity-image-container {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.muse-medium-fidelity-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.muse-reiterate-list{
  width: 90vw;
  margin-left: 15vw;
  float: none;
  margin-bottom: 8vh;
}
.muse-reiterate {
  background-color: #ffffff;
  height: 120vh;
}
.muse-reiterate h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.muse-reiterate p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.muse-reiterate ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.muse-reiterate li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 20px;
}
.muse-reiterate h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.muse-takeaway h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 5vh;
}
.muse-takeaway p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.muse-takeaway-image-container img{
    width: 30%;
    height: auto;
    margin-left: 35vw;
}
.muse-takeaway-caption{
  margin-left: 23vw;
  font-size: 14px;
  font-family: gill sans;
}
.muse-reiterate-caption p{
  font-size: 12px;
  margin-left: 26vw;
  margin-top: 1vh;
  padding-bottom: 5vh;
}
.push-premise {
  margin-top: 5vh;
}
.push-premise h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
}
.push-premise p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 10vw;
}
.push-premise-content {
  width: 90vw;
  height: auto;
  margin-left: 2vw;
  margin-right: auto;
  display: block;
}
.push-premise-image-container{
  float: right;
  width: 40vw;
  height: auto;
}
.push-premise-image-container img{
  width: 250px;
  height: auto;
  margin-right: -10vw;
}
.push-premise-image-container p{
  margin-right: 5vw;
  font-size: 12px;
  margin-left: 0;
}
.push-challenges ul{
  list-style-type: disc;
  font-family:Gill Sans;
  color:#505050;
  font-size:15px;
}
.push-challenges li{
  font-family:Gill Sans;
  color:#505050;
  font-size:18px;
  line-height: 30px;
}
.push-challenges {
  float: left;
  height: auto;
  width: 30vw;
  margin-left: 16vw;
}
.push-challenges h3{
  font-family: Gill Sans;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}
.push-research{
  background-color: #ffffff;
}
.push-research h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.push-research p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.push-sitemap{
  padding-bottom: 10vh;
}
.wireframe{
  background-color: #ffffff;
}
.wireframe h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.wireframe p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.wireframe-image-container img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.wireframe-image-container {
  padding-bottom: 10vh;
  margin-top: 5vh;
}
.wireframe-caption p{
  font-size: 12px;
  margin-left: 8vw;
  margin-bottom: 5vh;
}
.wireframe-image-container p{
  font-size: 12px;
  margin-left: 25vw;
}
.push-medium {
  height: 90vh;
}
.push-medium h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.push-medium p{
  font-family: Gill Sans;
    font-weight: normal;
    color: #6d6d6d;
    font-size: 18px;
    margin-left: 0vw;
    margin-right: 10vw;
    float: right;
    width: 49vw;
    height: auto;
    margin-bottom: -4vh;
}
.push-medium-image-container img{
  width: 80%;
  float: left;
  height: auto;
  margin-top: -15vh;
  margin-left: 10vw;
  margin-right: auto;
  display: block;
}
.push-medium-caption p{
  font-size: 12px;
  margin-right: 41vw;
  margin-top: 2vh;
  padding-bottom: 5vh;
}
.final-changes{
  background-color: #ffffff;
}
.final-changes h2{
  font-family: Gill Sans;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 24px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.final-changes p{
  font-family: Gill Sans;
  font-weight: normal;
  color: #6d6d6d;
  font-size: 18px;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 5vh;
}
.final-changes-image-container-2 {
  margin-bottom: 4vh;
  margin-top: 5vh;
}
.final-changes-image-container-2 img{
  width: 45%;
  height: auto;
  margin-left: 26vw;
}
.final-changes-image-container-2 p{
  font-size: 12px;
  margin-left: 26vw !important;
}
